<mat-toolbar color="primary" class="mat-elevation-z6"  >
    <span><a routerLink="" class="no-effect" >My Application</a></span>
    
    <a mat-button routerLink="/pets">Find a Pet</a>
    <a mat-button>Pet Supplies</a>
    <div class="example-spacer"></div>
    <a mat-button routerLink="/create"  matTooltip="Add Post" matTooltipClass="example-tooltip-red" ><mat-icon>post_add</mat-icon></a>
    <button mat-raised-button color="basic" >
      login <mat-icon >login</mat-icon>
    </button>
    
</mat-toolbar>

