<mat-toolbar color="primary" >
    <span><a routerLink="" class="no-effect" >Lucky <span style="color: rgb(214, 102, 102);">Pets</span></a></span>
    
    <a mat-button routerLink="/pets">Find a Pet</a>
    <a mat-button routerLink="/pet_supplies">Pet Supplies</a>
    <div class="example-spacer"></div>



    <div *ngIf="!userIsAuthenticated">
    <a routerLink="/login"><button mat-raised-button color="basic" >login <mat-icon >login</mat-icon></button></a>
    </div>

    
  <div *ngIf="userIsAuthenticated && role=='user'">
    <a mat-button dis>{{ userName }}  </a>
    <button mat-icon-button [matMenuTriggerFor]="menu"  mat-raised-button aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/manage_account">
        <mat-icon>manage_accounts</mat-icon>
        <span>Manage your Account</span>
      </button>
      <button mat-menu-item routerLink="/create">
        <mat-icon>post_add</mat-icon>
        <span>Add Post</span>
      </button>
      <button mat-menu-item (click)="onlogout()">
        <mat-icon>logout</mat-icon>
        <span>logout</span>
      </button>
    </mat-menu>
  </div>
  


  <div *ngIf="userIsAuthenticated && role=='admin'">
    <a mat-button>{{ userName }}  </a>
    <button mat-icon-button [matMenuTriggerFor]="menu"  mat-raised-button aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/delete_post">
        <mat-icon>delete</mat-icon>
        <span>Delete a post</span>
      </button>
      <button mat-menu-item routerLink="/create_prod">
        <mat-icon>create</mat-icon>
        <span>Product management</span>
      </button>
      <button mat-menu-item (click)="onlogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>



</mat-toolbar>

