<div class="center" >
    <mat-card class="example-card" >
      <h1>Sign Up</h1>
    <form class="example-form" (submit)="onsignup(loginForm)" #loginForm="ngForm" >
      <mat-form-field >
        <input matInput type="text" name="name" ngModel placeholder="Your full name" #firstNameInput="ngModel" required >
        <mat-error *ngIf="firstNameInput.invalid">Please enter your full name </mat-error>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field >
        <input matInput type="email" name="email" ngModel placeholder="E-mail" #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email ! </mat-error>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field >
        <input matInput type="password" name="password" ngModel placeholder="Password" #passwordInput="ngModel" required  >
        <mat-error *ngIf="passwordInput.invalid">Please enter a password !</mat-error>
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <mat-form-field >
        <input matInput name="phoneNumber" ngModel placeholder="Phone number" minlength="8" maxlength="8" #phoneInput="ngModel" required size="8">
        <mat-error *ngIf="phoneInput.invalid" >Please enter your Phone number !</mat-error>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 30%;"  matTooltip="Select Your State">
        <mat-label>Select Your State</mat-label>
        <mat-select  name="state" ngModel required #stateName="ngModel"  #state="ngModel">
          <mat-option *ngFor="let state of states" [value]="state" >{{state}}</mat-option>
        </mat-select>
        <mat-error *ngIf="stateName.invalid">You must make a selection</mat-error>
      </mat-form-field><br><br>
      <button mat-raised-button color="primary" type="submit" class="center_button">Sign Up</button>
    </form>
    </mat-card>
    </div>
   