<div class="center">
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form [formGroup]="form" class="example-form" (ngSubmit)="onSavePost()"  class="center" *ngIf="!isLoading">

  
    <mat-form-field class="example-full-width">
      <mat-label>Post content</mat-label>
      <textarea matInput placeholder=""  rows="4" formControlName="content"  ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter Post description</mat-error>
    </mat-form-field>
    <br>
    <button mat-fab color="warn" type="button"  matTooltip="Choose image" [matTooltipPosition]="'right'"  (click)="filePicker.click()">
      <span class="material-icons">
      add
      </span>
    </button><input type="file" #filePicker (change)="onImagePicked($event)"><br><br>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview  && form.get('image').valid">
      <img [src]="imagePreview" alt='was error picking the file'>
    </div>
    <button mat-raised-button color="primary" type="submit" class="center_button"  >Save Post</button>
  </form>
 
</div>