<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">	
</head>
<body>
	<div class="box-area">
		<div class="banner-area">
			<h2>Lucky Pets</h2>
			<h4>You’re Giving a Second Chance to a Deserving Animal </h4>
		</div>
		<div class="content-area">
			<div class="wrapper">
				<h2>THE BEAUTY OF ADOPTION</h2>
				<p>Pets have a way of putting a smile on your face and a spring in your step. Not only do animals give you unconditional love, but research confirms that pets provide us humans with psychological, emotional, and physical benefits. Caring for a companion animal can provide a sense of purpose and fulfillment as well as lessen feelings of loneliness and isolation in all age groups. Simply put, pets aren't just good friends; they're also good medicine and can improve a person's well-being in many ways.</p>
				<h2>SERVICES</h2>
				<div fxLayout="row warp" >
					<mat-card class="example-card" fxFlex.xs="100%" fxFlex.sm="50%"  fxFlex="30%">
						<mat-card-title>Adoption</mat-card-title>
						<mat-card-content>
							<p>
								Our main purpose of this website is making animal adoption easier for you with place homeless animals into loving home. We strive to promote responsible pet parenting and the humane treatment of all animals.
							</p>
							<button mat-flat-button color="primary" routerLink="/pets">&nbsp; Find the one &nbsp;</button>
						</mat-card-content>
					</mat-card>
					<mat-card class="example-card" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex="30%">
						<mat-card-title>Our Store</mat-card-title>
						<mat-card-content>
							<p>
								We also offer pet store where you can buy supplies for your animal like food, vitamins, accessories and a lot more well tested to ensure performance and reliability.
							</p>
							<button mat-flat-button color="primary" routerLink="/pet_supplies">&nbsp; Shop now &nbsp;</button>
						</mat-card-content>
					</mat-card>
			</div>
			<br>
			<h2>REASONS TO ADOPT AN PET</h2><br>
			<h3>You save a life</h3>
			<p>All animals at our shelter are in need of a second chance. They have been lost, given up or abandoned. They are all unwanted and helpless. You are giving them a new life in a loving home..</p>
			<h3>You help break the cycle of pet overpopulation</h3>
			<p>There are not enough homes for all the animals that are born every year. Adopting from a shelter helps weaken the pet overpopulation cycle. Each year 8 to 12 million dogs, cats, puppies and kittens are euthanized because there are simply not enough homes for them.</p>
			<h3>Because it’ll cost you less</h3>
			<p>Usually when you adopt a pet, the cost of spay/neuter, first vaccinations (and sometimes even microchipping!) is included in the adoption price, which can save you some of the up front costs of adding a new member to your family. Depending on the animal, you may also save on housebreaking and training expenses.</p>
		
		</div>
			
		</div>
	</div>
</body>
</html>
